## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.cvs")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Atuona,PF,78.17,clear sky,-9.8000,-139.0333,Villa Enata
1,3,Butaritari,KI,81.50,clear sky,3.0707,172.7902,Isles Sunset Lodge
2,10,Olinda,BR,78.53,broken clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
3,12,Georgetown,MY,76.95,scattered clouds,5.4112,100.3354,Cititel Penang
4,16,Akyab,MM,82.02,scattered clouds,20.1500,92.9000,Hotel Memory

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City=="Havelock",:]
vacation_end = vacation_df.loc[vacation_df.City=="Havelock",:]
vacation_stop1 = vacation_df.loc[vacation_df.City=="Poquoson",:]
vacation_stop2 = vacation_df.loc[vacation_df.City=="Germantown",:] 
vacation_stop3 = vacation_df.loc[vacation_df.City=="Huron",:]
vacation_stop3.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
231,638,Huron,US,80.06,clear sky,41.1501,-82.5499,Meadow Brook Mobile Estates

In [79]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy 
#function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
stop3

(41.1501, -82.5499)

In [80]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

#Latitude-longitude pairs
#Paired with start,end and stops

fig = gmaps.figure()
Havelock2Havelock = gmaps.directions_layer(start, end, 
                                          waypoints=[stop1,stop2, stop3],
                                          travel_mode='DRIVING') 
fig.add_layer(Havelock2Havelock)
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,198,Havelock,US,80.02,clear sky,34.8791,-76.9013,Sherwood Motel
1,198,Havelock,US,80.02,clear sky,34.8791,-76.9013,Sherwood Motel
2,603,Poquoson,US,84.97,scattered clouds,37.1224,-76.3458,Whitehouse Cove
3,406,Germantown,US,84.97,clear sky,39.1732,-77.2717,Fairfield Inn & Suites by Marriott Germantown ...
4,638,Huron,US,80.06,clear sky,41.1501,-82.5499,Meadow Brook Mobile Estates

In [82]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [87]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))